<h4>
  Formularios
  <small>template</small>
</h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control" [ngClass]="{'is-invalid': (Nombre.errors?.required || Nombre.errors?.minlength) && Nombre.touched}"
          type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre" required minlength="5" #Nombre="ngModel">

        <div *ngIf="Nombre.errors?.required" class="invalid-feedback">
          El nombre es requerido.
        </div>
        <div *ngIf="Nombre.errors?.minlength" class="invalid-feedback">
          Por lo menos {{ Nombre.errors.minlength.requiredLength }} caracteres.
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control" [ngClass]="{'is-invalid': Apellido.errors?.required && Apellido.touched}" type="text" placeholder="Apellido"
          [(ngModel)]="usuario.apellido" name="apellido" required #Apellido="ngModel">

        <div *ngIf="Apellido.errors?.required" class="invalid-feedback">
          El apellido es requerido.
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control" [ngClass]="{'is-invalid': (Correo.errors?.required || Correo.errors?.pattern) && Correo.touched}"
        type="email" placeholder="Correo electrónico" [(ngModel)]="usuario.correo" name="correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        #Correo="ngModel">

      <div *ngIf="Correo.errors?.required" class="invalid-feedback">
        El correo es requerido.
      </div>
      <div *ngIf="Correo.errors?.pattern" class="invalid-feedback">
        El correo no cumple el formato.
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">

      <select [(ngModel)]="usuario.pais" class="form-control" name="pais" required>

        <option value="">Seleccione un país</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre }}</option>

      </select>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-md-8">

      <!-- CARGA DE RADIOS DE FORMA ESTÁTICA -->
      <!-- <div class="form-check form-check-inline">
        <input [(ngModel)]="usuario.genero" value="Hombre" class="form-check-input" type="radio" name="genero">
        <label class="form-check-label">Hombre</label>
      </div>
      <div class="form-check form-check-inline">
        <input [(ngModel)]="usuario.genero" value="Mujer" class="form-check-input" type="radio" name="genero">
        <label class="form-check-label">Mujer</label>
      </div> -->
      <!-- ********************************** -->

      <!-- CARGA DE RADIOS DE FORMA DINAMICA -->
      <div *ngFor="let g of generos" class="form-check form-check-inline">
        <input [(ngModel)]="usuario.genero" [value]="g" class="form-check-input" type="radio" name="genero" required>
        <label class="form-check-label">{{ g }}</label>
      </div>
      <!-- ********************************** -->

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">

      <div class="form-check">
        <input [(ngModel)]="usuario.acepta" name="acepta" required class="form-check-input" type="checkbox">
        <label class="form-check-label" for="defaultCheck1">
          Acepta las condiciones.
        </label>
      </div>

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
        <!-- <button type="submit" class="btn btn-outline-primary"> -->
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{ usuario | json }}
</pre>